.p1
{
    display: inline-block;
    height: 100px;
    width: 500px;
    text-align: center;
    margin-left: 160px;
    font: bolder;
}
.p2
{
    display: inline-block;
    height: 100px;
    width: 500px;
    text-align: center;
}

.heading
{
    height: 150px;
    text-align: center;
    padding: 50px;
    font-family: 'Sacramento', cursive;
    font-size: 1.5em;
}
.dice-img
{
    height: 100px;
    width: 100px;
}

body
{
    background-color: #F7ECDE;
}
